{% extends 'base.html' %}
{% load static %}
        {% block title %}404{% endblock title %}
        {% block single-product-page %}single-product-page{% endblock single-product-page %}

                {% block header-top %}
                <!-- Header top area start -->
                <div class="header-top-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="top-bar-left">
                                    <!-- welcome -->
                                    <div class="welcome">
                                        <p>England's Fastest Online Shopping Destination</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="topbar-nav">
                                    <div class="wpb_wrapper">
                                        <!-- my account -->
                                        <div class="menu-my-account-container">
                                            <a href="">My Account <i class="ion-ios-arrow-down"></i></a>
                                            <ul>
                                                <li><a href="{% url 'account' %}">My Account</a></li>
                                                <li><a href="{% url 'login' %}">Login</a></li>
                                                <li><a href="{% url 'register' %}">Register</a></li>
                                                <li><a href="{% url 'checkout' %}">Checkout</a></li>
                                            </ul>
                                        </div>
                                        <div class="switcher">
                                            <!-- language-menu -->
                                            <div class="language">
                                                <a href="">
                                                    <img src="{% static "img/icons/en.png" %}" alt="language-selector">English
                                                    <i class="ion-ios-arrow-down"></i>
                                                </a>
                                                <ul>
                                                    <li>
                                                        <a href="">
                                                            <img src="{% static "img/icons/fr.png" %}" alt="French">
                                                            <span>French</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <!-- currency-menu -->
                                            <div class="currency">
                                                <a href="">$ USD<i class="ion-ios-arrow-down"></i></a>
                                                <ul>
                                                    <li><a href="">€ EUR</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Header top area end -->
                {% endblock header-top %}
            {% block breadcrumbs %}
            <!-- Breadcrumbs -->
            <div class="breadcrumbs-container">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <nav class="woocommerce-breadcrumb">
                                <a href="">Home</a>
                                <span class="separator">/</span> 404
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcrumbs End -->
            {% endblock breadcrumbs %}
            {% block content %}
            <!-- cart page content -->
            <div class="error_page_start">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <h2>OOPS! PAGE NOT BE FOUND</h2>
                            <p>Sorry but the page you are looking for does not exist, have been removed, name changed or is temporarity unavailable.</p>
                            <div class="search__sidbar">
                                <div class="input_form">
                                    <input type="text" class="input_text" value="Search..." name="s" id="search_input">
                                    <button class="button" type="submit" id="blogsearchsubmit">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="hom_btn">
                                <a href="">Back to home page</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- cart page content end -->
            {% endblock content %}
            {% block quickview %}
            <!-- QUICKVIEW PRODUCT START -->
            <div id="quickview-wrapper">
                <!-- Modal -->
                <div class="modal fade" id="product_modal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-close-btn">
                                <button class="close" data-dismiss="modal">
                                    <i class="fa fa-times"></i>
                                </button>
                            </div>
                            <div class="modal-body">
                               <!-- Single product area -->
                               <div class="single-product-area">
                                   <div class="container-fullwidth">
                                       <div class="single-product-wrapper">
                                           <div class="row">
                                               <div class="col-xs-12 col-md-7 col-lg-7">
                                                    <div class="product-details-img-content">
                                                        <div class="product-details-tab mr-40">
                                                            <div class="product-details-large tab-content">
                                                                <div class="tab-pane active" id="pro-details1">
                                                                    <div class="product-popup">
                                                                        <a href="{% static "img/product/single/product4.jpg" %}">
                                                                            <img src="{% static "img/product/single/product4.jpg" %}" alt="">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane" id="pro-details2">
                                                                    <div class="product-popup">
                                                                        <a href="{% static "img/product/single/product5.jpg" %}">
                                                                            <img src="{% static "img/product/single/product5.jpg" %}" alt="">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane" id="pro-details3">
                                                                    <div class="product-popup">
                                                                        <a href="{% static "img/product/single/product6.jpg" %}">
                                                                            <img src="{% static "img/product/single/product6.jpg" %}" alt="">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane" id="pro-details4">
                                                                    <div class="product-popup">
                                                                        <a href="{% static "img/product/single/product7.jpg" %}">
                                                                            <img src="{% static "img/product/single/product7.jpg" %}" alt="">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane" id="pro-details5">
                                                                    <div class="product-popup">
                                                                        <a href="{% static "img/product/single/product8.jpg" %}">
                                                                            <img src="{% static "img/product/single/product8.jpg" %}" alt="">
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="product-details-small nav product-dec-slider-qui owl-carousel">
                                                                <a class="active" href="#pro-details1">
                                                                    <img src="{% static "img/product/thumbnails/product4.jpg" %}" alt="">
                                                                </a>
                                                                <a href="#pro-details2">
                                                                    <img src="{% static "img/product/thumbnails/product5.jpg" %}" alt="">
                                                                </a>
                                                                <a href="#pro-details3">
                                                                    <img src="{% static "img/product/thumbnails/product6.jpg" %}" alt="">
                                                                </a>
                                                                <a href="#pro-details4">
                                                                    <img src="{% static "img/product/thumbnails/product7.jpg" %}" alt="">
                                                                </a>
                                                                <a href="#pro-details5">
                                                                    <img src="{% static "img/product/thumbnails/product8.jpg" %}" alt="">
                                                                </a>
                                                                <a class="active" href="#pro-details1">
                                                                    <img src="{% static "img/product/thumbnails/product4.jpg" %}" alt="">
                                                                </a>
                                                                <a href="#pro-details2">
                                                                    <img src="{% static "img/product/thumbnails/product5.jpg" %}" alt="">
                                                                </a>
                                                                <a href="#pro-details3">
                                                                    <img src="{% static "img/product/thumbnails/product6.jpg" %}" alt="">
                                                                </a>
                                                                <a href="#pro-details4">
                                                                    <img src="{% static "img/product/thumbnails/product7.jpg" %}" alt="">
                                                                </a>
                                                                <a href="#pro-details5">
                                                                    <img src="{% static "img/product/thumbnails/product8.jpg" %}" alt="">
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                               </div>
                                               <div class="col-xs-12 col-md-5 col-lg-5">
                                                   <div class="single-product-info">
                                                       <h1>Sit voluptatem</h1>
                                                       <div class="product-rattings">
                                                            <span><i class="fa fa-star"></i></span>
                                                            <span><i class="fa fa-star"></i></span>
                                                            <span><i class="fa fa-star"></i></span>
                                                            <span><i class="fa fa-star-half-o"></i></span>
                                                            <span><i class="fa fa-star-o"></i></span>
                                                        </div>
                                                        <span class="price">
                                                            <del>$ 77.00</del> $ 66.00
                                                        </span>
                                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco,Proin lectus ipsum, gravida et mattis vulputate, tristique ut lectus</p>
                                                        <div class="box-quantity d-flex">
                                                            <form action="#">
                                                                <input class="quantity mr-40" min="1" value="1" type="number">
                                                            </form>
                                                            <a class="add-cart" href="cart">add to cart</a>
                                                        </div>
                                                        <div class="wishlist-compear-area">
                                                            <a href="wishlist"><i class="ion-ios-heart-outline"></i> Add to Wishlist</a>
                                                            <a href=""><i class="ion-ios-loop-strong"></i> Compare</a>
                                                        </div>
                                                        <div class="product_meta">
                                                            <span class="posted_in">Categories: <a href="" rel="tag">Accessories</a>, <a href="" rel="tag">Clothings</a></span>
                                                        </div>
                                                        <div class="single-product-sharing">
                                                            <div class="widget widget_socialsharing_widget">
                                                                <h3 class="widget-title">Share this product</h3>
                                                                <ul class="social-icons">
                                                                    <li><a class="facebook social-icon" href=""><i class="fa fa-facebook"></i></a></li>
                                                                    <li><a class="twitter social-icon" href=""><i class="fa fa-twitter"></i></a></li>
                                                                    <li><a class="pinterest social-icon" href=""><i class="fa fa-pinterest"></i></a></li>
                                                                    <li><a class="gplus social-icon" href=""><i class="fa fa-google-plus"></i></a></li>
                                                                    <li><a class="linkedin social-icon" href=""><i class="fa fa-linkedin"></i></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                   </div>
                                               </div>
                                           </div>
                                       </div>
                                   </div>
                               </div>
                                <!-- Single product area end -->
                            </div>
                        </div><!-- .modal-content -->
                    </div><!-- .modal-dialog -->
                </div><!-- END Modal -->
            </div>
            <!-- QUICKVIEW PRODUCT END -->
            {% endblock quickview %}

        {% block nivo-js %}{% endblock nivo-js %}