{% extends 'base.html' %}
    {% block title %}Login{% endblock title %}
            <!-- HEADER AREA END -->
            {% block breadcrumbs %}
            <!-- Breadcrumbs -->
            <div class="breadcrumbs-container">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <nav class="woocommerce-breadcrumb">
                                <a href="{% url 'index' %}">Home</a>
                                <span class="separator">/</span> login
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcrumbs End -->
            {% endblock breadcrumbs %}
            {% block content %}
            <!-- Page title -->
            <div class="entry-header">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="entry-title">Login</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page title end -->
            <!-- cart page content -->
            <div class="login-page-area">
                <div class="container">
                    <div class="login-area">
                        <!-- New Customer Start -->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="well mb-sm-30">
                                    <div class="new-customer">
                                        <h3 class="custom-title">new customer</h3>
                                        <p class="mtb-10"><strong>Register</strong></p>
                                        <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made</p>
                                        <a class="customer-btn" href="{% url 'register' %}">continue</a>
                                    </div>
                                </div>
                            </div>
                            <!-- New Customer End -->
                            <!-- Returning Customer Start -->
                            <div class="col-md-6">
                                <div class="well">
                                    <div class="return-customer">
                                        <h3 class="mb-10 custom-title">returning customer</h3>
                                        <p class="mb-10"><strong>I am a returning customer</strong></p>
                                        <form action="login.html#">
                                            <div class="form-group">
                                                <label>Email</label>
                                                <input type="text" name="email" placeholder="Enter your email address..." id="input-email" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Password</label>
                                                <input type="text" name="pass" placeholder="Password" id="input-password" class="form-control">
                                            </div>
                                            <p class="lost-password"><a href="{% url 'restore_pswd' %}">Forgot password?</a></p>
                                            <input type="submit" value="Login" class="return-customer-btn">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Returning Customer End -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- cart page content end -->
            {% endblock content %}
            <footer class="footer-area">
                <!-- newsletter area -->
                <div class="newsletter-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-xl-9">
                                <div class="newsletter-text">
                                    <div class="icon"><i class="icon ion-email"></i></div>
                                    <h3>Sign Up To Newsletter</h3>
                                    <h4>..and Receive $29 Coupon For First Shopping</h4>
                                </div>
                                <div class="newsletter">
                                    <div class="newsletter-box">
                                         <form action="login.html#">
                                              <input class="subscribe" placeholder="your email address" name="email" id="subscribe" type="email">
                                              <button type="submit" class="submit">subscribe!</button>
                                         </form>
                                     </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-xl-3">
                                <div class="footer-social">
                                    <ul class="social-icons">
                                        <li><a class="facebook social-icon" href="" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                        <li><a class="twitter social-icon" href="" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                        <li><a class="instagram social-icon" href="" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
                                        <li><a class="linkedin social-icon" href="" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                        <li><a class="rss social-icon" href="" title="Rss" target="_blank"><i class="fa fa-rss"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- newsletter area end -->
                {% block footer-policy %}
                {% endblock footer-policy %}
                {% block footer-bottom %}
                {% endblock footer-bottom %}
            {% block quickview %}
            {% endblock quickview %}
        {% block nivo-js %}
        {% endblock nivo-js %}