{% extends 'base.html' %}
{% load static %}
{% block title %}Wishlist{% endblock title %}
{% block single-product-page %}single-product-page{% endblock single-product-page %}

            {% block breadcrumbs %}
            <!-- Breadcrumbs -->
            <div class="breadcrumbs-container">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <nav class="woocommerce-breadcrumb">
                                <a href="">Home</a>
                                <span class="separator">/</span> Wishlist
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcrumbs End -->
            {% endblock breadcrumbs %}
            {% block content %}
            <!-- Page title -->
            <div class="entry-header">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h1 class="entry-title">Wishlist</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page title end -->
            <!-- cart page content -->
            <div class="cart-page-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <!-- Form Start -->
                            <form action="wishlist.html#">
                                <!-- Table Content Start -->
                                <div class="table-content table-responsive">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th class="product-remove">Remove</th>
                                                <th class="product-thumbnail">Image</th>
                                                <th class="product-name">Product</th>
                                                <th class="product-price">Unit Price</th>
                                                <th class="product-quantity">Stock Status</th>
                                                <th class="product-subtotal">add to cart</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="product-remove"> <a href="wishlist"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td class="product-thumbnail">
                                                    <a href="wishlist"><img src="{% static "img/product/6.jpg" %}" alt="cart-image"></a>
                                                </td>
                                                <td class="product-name"><a href="wishlist">Vestibulum suscipit</a></td>
                                                <td class="product-price"><span class="amount">£165.00</span></td>
                                                <td class="product-stock-status"><span>in stock</span></td>
                                                <td class="product-add-to-cart"><a href="cart">Add to cart</a></td>
                                            </tr>
                                            <tr>
                                                <td class="product-remove"> <a href="wishlist"><i class="fa fa-times" aria-hidden="true"></i></a></td>
                                                <td class="product-thumbnail">
                                                   <a href="wishlist"><img src="{% static "img/product/7.jpg" %}" alt="cart-image"></a>
                                                </td>
                                                <td class="product-name"><a href="wishlist">Vestibulum dictum magna</a></td>
                                                <td class="product-price"><span class="amount">£50.00</span></td>
                                                <td class="product-stock-status"><span>in stock</span></td>
                                                <td class="product-add-to-cart"><a href="cart">Add to cart</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- Table Content Start -->
                            </form>
                            <!-- Form End -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- cart page content end -->
            {% endblock content %}
            {% block footer-bottom %}{% endblock footer-bottom %}